<h2>User <%=h @user.login %></h2>

<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<% if @user.admin? %>
  <p>
    <b>Admin User</b>
  </p>
<% end %>

<br />
<%= link_to 'Back', users_path %> | 
<%= link_to 'Deployment history', {:action => 'deployments', :id => @user} %>
<% if current_user.admin? || current_user == @user %>
 | <%= link_to 'Edit (Change Password)', edit_user_path(@user) %>
<% end %>

